{{define "title"}}Login{{end}}
{{define "main"}}

    <section class="container col my-5">
        <h1 class="text-center">Login</h1>
        {{with .Flash}}
        <div class="alert alert-info" role="alert" >     
          {{.}}
        </div>
      {{end}}
      {{range .Form.NonFieldErrors}}
      <div class="alert alert-danger" role="alert">
        {{.}}
      </div>
      {{end}}
        <form class="container" x-data="{email: '', password: '',}" action="/user/login" method="POST" novalidate>
          <div class="mb-3">
            {{with .Form.FieldErrors.email}}
            <div class="alert alert-danger" role="alert">
              {{.}}
            </div>
              {{end}}
            <label for="email" class="form-label">Email address</label>
            <input x-model.lazy="email" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="{{.Form.Email}}">
          </div>
          <div class="mb-3">
            {{with .Form.FieldErrors.password}}
            <div class="alert alert-danger" role="alert">
              {{.}}
            </div>
              {{end}}
            <label for="password" class="form-label">Password</label>
            <input x-model.lazy="password" type="password" class="form-control" id="password" name="password">
          </div>         
            <button type="submit" class="btn btn-dark" x-bind:disabled="email.length == 0 || password.length == 0">Sign in</button>
          </form>
    </section>

{{end}}