{{define "title"}}Sign Up{{end}}
{{define "main"}}

    <section class="container my-5">
        <h1 class="text-center py-2">Register</h1>
        <form class="container" x-data="{password: '', confirmed: '',}">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input x-model.lazy="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password Confirmation</label>
                <input x-model.lazy="confirmed" type="password" class="form-control" id="exampleInputPassword2">
              </div>
              <div x-show="password.length > 0 && confirmed.length > 0 && password != confirmed" class="alert alert-danger" role="alert">
                Password not the same
              </div>              
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-dark" x-bind:disabled="password.length == 0 || confirmed.length == 0 || password !== confirmed" x-model.lazy="confirmed">Sign up</button>
          </form>
    </section>
  {{end}}