{{define "title"}}Sign Up{{end}}
{{define "main"}}

    <section class="container my-5">
        <h1 class="text-center py-2">Register</h1>
        <form class="container" x-data="{password: '', confirmed: '',}" action="/user/register" method="POST" novalidate>
          <div class="mb-3">
            {{with .Form.FieldErrors.name}}
            <div class="alert alert-danger" role="alert">
              {{.}}
            </div>
              {{end}}
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameRegister" value="{{.Form.Name}}">
          </div>
            <div class="mb-3">
              {{with .Form.FieldErrors.email}}
              <div class="alert alert-danger" role="alert">
                {{.}}
              </div>
                {{end}}
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="{{.Form.Email}}">
            </div>
            <div class="mb-3">
              {{with .Form.FieldErrors.password}}
              <div class="alert alert-danger" role="alert">
                {{.}}
              </div>
                {{end}}
              <label for="password" class="form-label">Password</label>
              <input x-model.lazy="password" type="password" class="form-control" id="password" name="password">
            </div>         
            <button type="submit" class="btn btn-dark" x-bind:disabled="password.length == 0 " x-model.lazy="password">Sign up</button>
          </form>
    </section>
  {{end}}